/* footer {
  width: 100%;
  bottom: 0px;
  background-color: #000;
  color: #fff !important;
  position: relative;
  padding-bottom: 10px;
  padding-top: 40px;
  padding-right: 1250px;
  padding-bottom: 40px; 
  text-align: left ;
  
  font-size: 15px; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}  */
.footer1{
  text-align: center;
}

.tab {
  padding: 100px;
}

.demo {
  /* margin-right: ; */
  margin-left: auto;
  margin-right: auto;
transition: 2s;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
